.clock-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: #282c34;
    height: 250px;
    width: 250px;
    border-radius: 250px;
}

.clock-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 220px;
    width: 220px;
    border-radius: 220px;
}

.clock-time{
    font-size: 42px;
    font-weight: 800;
    color:aqua;
}

.clock-date{
    font-size: 16px;
    color:aqua;
    padding-top: 15px;
}