.slider-toggle{
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 12px;
    background-color: #282c34;
}

.toggle-circle{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: aqua;
    border-radius: 25px;
}

.slider-toggle .on{
    transition-duration: 1s;
    transition: right .5s ease;
    right: 0;
}

.slider-toggle .off{
    transition-duration: 1s;
    transition: left .5s ease;
    left: 0;
}

.slider-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.slider-img img{
    height: 60px;
    margin-left: 10px;
}